.App {
  text-align: center;
}

#root {
  margin: 5rem;
  word-spacing: 8px;
}

.header {
  color: rgb(48, 163, 229);
}

.mainContainer {
  border: 2px blue solid;
  padding: 1rem;
  text-align: center;
  width: 32rem;
  margin: auto;
  display: grid;
}

.score {
  margin-right: auto;
}

.table-wrapper {
  border: 10px lime solid;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

.header {
  padding: 1rem;
  
}

.country {
  padding-top: 1rem;
  color: rgb(48, 163, 229);
}

.table {
  border: 2px black solid;
  padding: 1rem;
  margin: 1rem;
}

.result {
  border-bottom: 2px #000000 solid;
  margin-bottom: 10px;
  display: flex;
  justify-items: auto;
  justify-content: space-between;
  padding: 1rem;
}

.score {
  color: rgb(108, 14, 14);
  margin: 1rem;
  font-size: large;
}
.name{
  text-align: center;
  font-size: large;
  margin: 1rem;
}

.button {
  background-color: lime;
  color: black;
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: .4rem;
}

.button:hover {
  background-color: rgb(39, 164, 83);
  color: white;
}