body{
  padding: 20px 20px  30px 20px;
  margin: 20px 80px 50px 20;
}

.outer{
  padding: 20px 50px 20px 20px;
  margin: 20px 20px 20px 20px;
}

.high-scores {
  text-align: center;
 border: solid rgb(21, 25, 239);
  
}

.table-wrapper {
padding: auto;
margin: auto;
  width: fit-content; 
  text-align: center;
  border: 10px solid rgb(52, 239, 52);
 
}

td{
  border: 1px solid black;
}

tr {
  width: 100%;
}

th {
  /* position: sticky; */
  color: black;

}

td:first-child,
th:first-child {
  width: 65px;
}

h1 {
 color: black;
}



